/*Les commentatire en CSS*/
* {
    overflow: auto;
}
body{
                
    background-color: #8BA1BB; /* Couleur de fond*/
    font-family: Arial; /* police d'écriture*/
    

}


div.contenu{
    background-color: white; /* Couleur de fond*/
    margin: 40px 8% 40px 8%; /* marge extérieur à haut:60, droit: 10% , bas:80px gauche: 10% */
    padding: 0px 8px 20px 8px; /* Marge intérieur*/
    /*min-width: 350px;*/
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0.2);
    overflow: visible;
}
h1 {
    text-align: center; /* Pour centrer le text*/
    margin-bottom: 12px;
    margin-top: 12px;
}

p.description{
    text-align: center; /* centrer le paragraphe*/
    max-width: 400px; /* la large maximale*/
    display: inline-block; /* la large maximale*/
    font-size: 14px;
}

.centre{
    text-align: center;
    width: 100%;

}

p.categorie{
    background-color: black; /* Couleur de fond*/
    color: white; /* Couleur du Text*/
    margin: 0;
    display: inline-block;
    /*margin-left: 30px;  marge exterieur */
    margin-top: -15px;
    padding: 8px 18px; /* marge interieur*/
    margin-bottom: 0px;
    font-weight: bold; /* text en gras*/
    font-size: 16px; /* taille de police*/
    
}

div.categorie{
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;

}

div.separateur{
    width: 100px; /* la large */  
    height: 1px; /* hauteur */ 
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    
}

div.info{
    position: relative;
}

table.info{
    position: absolute; 
    bottom: 0px; 
    width: 100%; 
    color:white; 
    background-color:#6C829DC0 ; 
    height: 50px;
}

table.info td{
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}

table.info th{
    font-size: 14px;
    vertical-align: bottom;
    padding-bottom: 8px;
}

img.info{
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgray;
}
div.colonne {
    width: 100%;
    margin-top: 20px;
    
}
div.colonne h2{
text-align: center;
text-transform: uppercase;
font-size: 15px;
border-bottom: 5px solid #6C829D;
padding-bottom: 5px;
}

div.colonne1{
    display: inline-block;
    
}


div.ingredients p{
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgrey;
    padding: 8px 0;
    margin-top: 4px;
    margin-bottom: 0;

}
table.preparation p.numero {
    background-color: #6C829D;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}
table.preparation td {
    vertical-align: top;
}
table.preparation td.preparation_etape{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
table.preparation tr {
    height: 40px;
}

footer.IT{
    margin: 10px;
    text-align: center;
    color: white;
}

/* style pour ordinateur: */
@media only screen and (min-width: 768px) {
    
    div.contenu{
        margin: 60px 10% 80px 10%; /* marge extérieur à haut:60, droit: 10% , bas:80px gauche: 10% */
        padding: 0px 30px 30px 30px; /* Marge intérieur*/
        min-width: 350px; 
    }

    table.info{
   
        height: 80px;
    }
    
    table.info td{
       
        font-size: 14px;
        
    }
    
    table.info th{
        font-size: 16px;
      
    }

    div.colonne {
        width: 45%; 
    }
  
    
    div.colonne1{
        margin-right: 10%;
    }
    
    div.colonne2{
       float: right;
    }
    
  }

  @media only screen and (min-width: 900px){
    div.contenu{
        margin-left: auto ; /* marge extérieur à haut:60, droit: 10% , bas:80px gauche: 10% */
        margin-right: auto;
        width: 645px; 
    }

  }